# User-specific stuff:
.idea/
.git/
tempfiles/
log.txt

# Sensitive stuff
.secure.settings.json
mystem*

# Django related
*.mo
public/

# Python
*.pyc
__pycache__

# Databases
*.sql
*.sqlite
*.sqlite3
